body {
    color: var(--arc-palette-title) !important
  }
  header .gb_td {
    background-color: var(--arc-palette-background) !important;
  }
  c-wiz .ggt41e, .VdLOD, .mtr0Je, .VdLOD, .mtr0Je, .cC1eCc .VfPpkd-P5QLlc {
    background-color: var(--arc-palette-background) !important;
  }
  .p2ZbV {
    background-color: var(--arc-palette-backgroundExtra) !important;
  }
  .c-wiz .YpQfNc, .wPfO6c div, GNpa5c,.TzyVh .H72fcf, .AKhouc, .dOPgd, .ArJ2Te, .mobgod, .v1pyg, .gb_Pa, .ja6eZd, .gb_Pa svg, .gb_Wc svg, .gb_id .gb_qd, .gb_8c .gb_qd, .hZ3uGe.KKjvXb:not(:disabled), .cC1eCc .VfPpkd-cnG4Wd, .s8kOBc .VfPpkd-rymPhb-ibnC6b-OWXEXe-gk6SMd .VfPpkd-rymPhb-fpDzbe-fmcmS, .s8kOBc .VfPpkd-rymPhb-ibnC6b-OWXEXe-pXU01b .VfPpkd-rymPhb-fpDzbe-fmcmS, .s8kOBc .VfPpkd-rymPhb-ibnC6b-OWXEXe-gk6SMd.VfPpkd-rymPhb-ibnC6b-OWXEXe-SfQLQb-M1Soyc-Bz112c .VfPpkd-rymPhb-KkROqb, .s8kOBc .VfPpkd-rymPhb-ibnC6b-OWXEXe-pXU01b.VfPpkd-rymPhb-ibnC6b-OWXEXe-SfQLQb-M1Soyc-Bz112c .VfPpkd-rymPhb-KkROqb, .s8kOBc .VfPpkd-rymPhb-fpDzbe-fmcmS, .wPUBwe, .cfWmIb:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-fmcmS-TvZj5c-OWXEXe-M1Soyc, .q6oraf .VfPpkd-StrnGf-rymPhb, .VfPpkd-xl07Ob .VfPpkd-StrnGf-rymPhb-IhFlZd, .VfPpkd-xl07Ob .VfPpkd-StrnGf-rymPhb-f7MjDc, .roSPhc, .xcF7Ab, .F1dYic {
  color: var(--arc-palette-title) !important;
  }
  .cfWmIb:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-fmcmS-wGMbrd, .DwIq5e, .jn4CRe, .CS4kw, .GsLSib, .y3zDAc .VA2JSc, .y3zDAc .oFS10d, .KWalhf, .JJelA, .J8vCN, .C7bsvb  {
    color: var(--arc-palette-title) !important;
  }
  .TzyVh .oMJK7, .rH9mRb, .I680R, .mtr0Je:focus-within .Ql1xRb, .mtr0Je.AHmuwe .Ql1xRb {
    color: var(--arc-palette-foregroundSecondary) !important;
  }
  
  
  .LjDxcd:hover:not(:disabled), .LjDxcd.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe:not(:disabled), .LjDxcd:not(.VfPpkd-ksKsZd-mWPk3d):focus:not(:disabled), .LjDxcd:active:not(:disabled), .nCP5yc:not(:disabled)  {
    color: var(--arc-palette-title) !important;
    background-color: var(--arc-palette-hover) !important;
  }
  .Rj2Mlf:not(:disabled) {
    color: var(--arc-palette-foregroundPrimary) !important;
    border-color: var(--arc-palette-foregroundPrimary) !important;
  }
  img.gb_Pc {
    filter: grayscale();
  }
  .VfPpkd-fmcmS-yrriRe, .Vctqkd {
    border-color: var(--arc-palette-foregroundPrimary) !important;
  }
  
  .mtr0Je:focus-within, .hZ3uGe.KKjvXb:not(:disabled) {
  background-color: var(--arc-palette-focus) !important;
  }
  .Ql1xRb {
    color: var(--arc-palette-foregroundSecondary) !important;
  }
  .sIR20d{
    border-color: var(--arc-palette-foregroundSecondary) !important;
  }
  .WpHeLc {
    color: var(--arc-palette-foregroundTertiary) !important;
  }
  .Ql1xRb {
    border: var(--arc-palette-foregroundSecondary) !important;
  } 
  .cC1eCc .VfPpkd-IE5DDf, .cC1eCc .VfPpkd-P5QLlc-GGAcbc {
      background-color: var(--arc-palette-hover) !important;
  }
  .VfPpkd-xl07Ob-XxIAqe {
    color: var(--arc-palette-title) !important;
    background: var(--arc-palette-background) !important;
  }
  .ReCbLb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me) .VfPpkd-uusGie-fmcmS {
    color: var(--arc-palette-title) !important;
  }
  .IisKdb {
    background-color: var(--arc-background-simple-color) !important;
  }
  .s8kOBc {
    box-shadow: 0 3px 5px -1px var(--arc-palette-hover), 0 6px 10px 0 var(--arc-palette-hover), 0 1px 18px 0 var(--arc-palette-hover) !important;
  }
  .q6oraf {
      box-shadow: 0 3px 5px -1px var(--arc-palette-hover), 0 6px 10px 0 var(--arc-palette-hover), 0 1px 18px 0 var(--arc-palette-hover) !important;
  }
  .s8kOBc .VfPpkd-rymPhb-ibnC6b.VfPpkd-rymPhb-ibnC6b-OWXEXe-gk6SMd {
    background-color: var(--arc-palette-hover) !important;
  }
  .ReCbLb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me).VfPpkd-O1htCb-OWXEXe-XpnDCe .VfPpkd-NSFCdd-i5vt6e .VfPpkd-NSFCdd-Brv4Fb, .ReCbLb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me).VfPpkd-O1htCb-OWXEXe-XpnDCe .VfPpkd-NSFCdd-i5vt6e .VfPpkd-NSFCdd-Ra9xwd, .ReCbLb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me).VfPpkd-O1htCb-OWXEXe-XpnDCe .VfPpkd-NSFCdd-i5vt6e .VfPpkd-NSFCdd-MpmGFe {
      border-color: var(--arc-background-simple-color) !important;
  }
  .ReCbLb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me).VfPpkd-O1htCb-OWXEXe-XpnDCe .VfPpkd-t08AT-Bz112c {
      fill: var(--arc-palette-foregroundSecondary) !important;
  }
  .K4VHc, .LjDxcd:not(:disabled), .Nj6Nq, .cC1eCc .VfPpkd-zMU9ub {
    color: var(--arc-palette-foregroundSecondary) !important;
  }
  .ReCbLb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me):not(.VfPpkd-O1htCb-OWXEXe-XpnDCe):hover .VfPpkd-t08AT-Bz112c {
      fill: var(--arc-palette-hover) !important;
  }
  .KH62af {
    border-right: 1px solid var(--arc-palette-foregroundSecondary) !important;
  }
  .ReCbLb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me) .VfPpkd-NSFCdd-Brv4Fb, .ReCbLb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me) .VfPpkd-NSFCdd-Ra9xwd, .ReCbLb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me) .VfPpkd-NSFCdd-MpmGFe, 
  element.style {
  }
  .cfWmIb:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-NSFCdd-Brv4Fb, .cfWmIb:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-NSFCdd-Ra9xwd, .cfWmIb:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-NSFCdd-MpmGFe {
      border-color: var(--arc-palette-foregroundPrimary) !important;
  }
  .ReCbLb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me) .VfPpkd-t08AT-Bz112c {
      fill: var(--arc-palette-foregroundPrimary) !important;
  }
  .ksBjEc:disabled {
      color: var(--arc-palette-hover) !important;
  }
  .ksBjEc:not(:disabled) {
     color: var(--arc-palette-foregroundSecondary) !important;
  }
  .ksBjEc .VfPpkd-Jh9lGc::before, .ksBjEc .VfPpkd-Jh9lGc::after {
    background-color: var(--arc-palette-hover) !important;
  }
  .Dg7t5c:not(:disabled) {
      background-color: var(--arc-palette-foregroundSecondary) !important;
  }
  .cfWmIb:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me)+.VfPpkd-fmcmS-yrriRe-W0vJo-RWgCYc .VfPpkd-fmcmS-yrriRe-W0vJo-fmcmS {
    color: var(--arc-palette-focus) !important;
  }
  .C9bDzc [data-url]:has(a) {
    color: var(--arc-palette-title);
  }
  .IClWHc {
      color: var(--arc-palette-foregroundSecondary) !important;
  }
  .tC2Wod {
      border: 4px solid var(--arc-palette-foregroundSecondary) !important;
  }
  .Dg7t5c:not(:disabled) {
      color: var(--arc-palette-background) !important;
  }
  .Sdwpn.P9KVBf {
      background-color: var(--arc-palette-backgroundExtra) !important;
      color: var(--arc-palette-maxContrastColor) !important;
  }
  .R3Gmyc, .WUFI9b {
      background-color: var(--arc-palette-background) !important;
      border: 1px solid var(--arc-palette-hover);
  }
  .nM37L .k3Pzib {
    background-color: var(--arc-palette-background);
    border: 1px solid var(--arc-palette-focus) !important;
  }
  .uvFeedbackFeedbackmanagerroot, .uvFeedbackFeedbackmanagerroot {
    background: var(--arc-palette-background) !important;
    background-color: var(--arc-palette-background) !important;
  }
  Toggles
  Off
  .LXctle:enabled .VfPpkd-l6JLsf::before  {
    background-color: var(--arc-palette-foregroundPrimary) !important;
  }
  On
  .LXctle:enabled .VfPpkd-l6JLsf::after {
    background-color: var(--arc-palette-foregroundSecondary) !important; 
  }